@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"');
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap");

:root {
    --color-yellow : #FFD15B;
    --color-black: #1B1B1B;
    --color-grey: #7A7A7A;
    --color-bg: #ededed;
    --bs-btn-hover-border-color: white;
    --font-primary: 'Anton', sans serif;
    --font-secondary: 'Manrope', sans serif;
}

body {
    font-family: var(--font-primary);
}

    /** Header **/
.container-header {
    background-image: url(../images/background.jpg);
    height: 660px;
}

.logo {
    width: 15%;
    margin-top: 3em;
    margin-left: 4em;
}

.container-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10em;
}

.title-elmt {
    color: var(--color-yellow);
    padding: 0 10em 0 10em;
    line-height: 1.5em;
}
        /** Input main search **/
.container-search {
    width: 900px;
    position: relative;
    margin: auto;
}

.search-elmt {
    width: 100%;
    height: 50px;
    border-radius: 11px;
    border: none;
    font-family: var(--font-secondary);
    color: var(--color-grey);
    padding: 20px;
}

.btn-search {
    position: absolute;
    background-color: #1B1B1B;
    width: 37px;
    height: 35px;
    right: 10px;
    bottom: 7px;
    border-radius: 6px;
    border: none;
}

.btn-close {
    position: absolute;
    top: 18px;
    right: 66px;
    font-size: 10px;
    display: none;
}

.fa-magnifying-glass {
    color: #FFFFFF;
}

    /** Main **/

.main {
    padding: 40px;
    background-color: var(--color-bg);
}

.container-main {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.container-filter {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

.container-main-title {
    display: flex;
    align-items: center;
}

        /** Container Filter Advenced **/

.dropdown {
    width: 195px;
}

.dropdown-toggle {
    font-family: var(--font-secondary);
    border: none;
    background-color: #FFFFFF;
    padding: 17px 16px 17px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu{
    top: -10px !important;
    width: 195px;
    border: none;
}

.search-item {
    border: 1px var(--color-grey) solid;
    width: 100%;
    color: var(--color-grey);
}

.search-item-icon {
    color: var(--color-grey);
}

.btn-search-item {
    position: absolute;
    right: 20px;
    top: 17px;
    background: none;
    border: none;
}

.btn-close-item {
    position: absolute;
    font-size: 10px;
    top: 19px;
    right: 47px;
    border: none;
    background: none;
    color: var(--color-grey);
    display: none;
}

.dropdown-item {
    font-family: var(--font-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-item:hover {
    background-color: var(--color-yellow);
}

.dropdown-item:hover:nth-child(1) {
    background-color: #FFFFFF;
}

.btn.show {
    background-color: #FFFFFF;
}

.btn:hover {
    background-color: #FFFFFF;
}

        /** Card Recipe **/

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3em;
}

.card {
    width: 380px;
    height: 740px;
    border-radius: 21px;
    margin-bottom: 4em;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
    border-radius: 21px 21px 0 0;
}

.card-subtitle {
    margin-top: 2em;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    color: var(--color-grey);
    font-weight: bold;
}

.container-list {
    padding: 0;
    margin-right: 13%;
}

.card-text {
    font-family: var(--font-secondary);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.2em* 4);
    line-height: 1.2em;
}

.list-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5%;
}

.list-group-item {
    padding: 0;
    border: none;
    font-family: var(--font-secondary);
}

.list-group-item:nth-child(2) {
    color: var(--color-grey);
}

        /** Tag **/

.card-tag {
    position: absolute;
    right: 30px;
    top: 20px;
    border-radius: 14px;
    background-color: var(--color-yellow);
    padding: 5px 15px 5px 15px;
    font-family: var(--font-secondary);
    font-size: 12px;
    text-align: center;
    width: 65px;
}

.tag-ingredient, .tag-appliance, .tag-ustensil {
    position: relative;
    background-color: var(--color-yellow);
    font-family: var(--font-secondary);
    width: 200px;
    height: 50px;
    border-radius: 10px;
}

.close-tag {
    position: absolute;
    top: 12px;
    right: 7px;
    border: none;
    background-color: var(--color-yellow);
    font-size: 20px;
}

.tag-ingredient p, .tag-appliance p, .tag-ustensil p {
    padding: 10px 0px 10px 10px;
    text-transform: capitalize;
}